<html>
<head>
    <link rel="stylesheet" href="/static/styles.css" />
</head>

<body>
    <div class="container">
    <h1 style="font-family: Arial, Helvetica, sans-serif; font-size: 5em; color: red;">lunch? &nbsp;</h1>
    <img src="https://media3.giphy.com/media/v1.Y2lkPTc5MGI3NjExYzMwcjdpaXQwN3BiMHNhcnBqNGNtbTRpaXRpcXU3MHo3aW92MWcwdyZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/8m4R4pvViWtRzbloJ1/giphy.gif"/>    

    <form action="/makersuite" method="post">
        <input type="submit" value="Gemini Chatbot"/>
    </form>    
</div>
</body>
</html>